.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 12px;
  border-radius: 12px;
  margin-top: 16px;
}

.pageHeading {
  text-align: center;
}

.inputWrapper {
  margin-bottom: 20px;
}

.todosWrapper {
  padding-top: 20px;
}

.chevronIcon {
  margin-right: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.chevronIconRotated {
  transform: rotate(180deg);
  margin-right: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.addTodoHeading {
  margin-bottom: 12px;
}

.subtaskSection {
  margin-top: 20px;
  margin-left: 40px;
}

.addTodoSubtask {
  padding-top: 20px;
}
